@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-xl-3 col-sm-6">
            <div class="tile tile-primary">
                <div class="tile-heading">
                    TOTAL ORDERS
                </div>
                <div class="tile-body">
                    <i class="fas fa-shopping-cart"></i>
                    <h2 class="float-end">@ViewBag.countOrder</h2>
                </div>
                <div class="tile-footer">
                    <a asp-action="GetAllOrder" asp-controller="Order" class="text-decoration-none text-white">View
                        more...</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="tile tile-primary">
                <div class="tile-heading">
                    TOTAL REVENUES
                </div>
                <div class="tile-body">
                    <i class="fas fa-credit-card"></i>
                    <h2 class="float-end">$1000</h2>
                </div>
                <div class="tile-footer">
                    <a href="" class="text-decoration-none text-white">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="tile tile-primary">
                <div class="tile-heading">
                    TOTAL CUSTOMERS
                </div>
                <div class="tile-body">
                    <i class="fas fa-user"></i>
                    <h2 class="float-end">10</h2>
                </div>
                <div class="tile-footer">
                    <a href="totalCustomer.html" class="text-decoration-none text-white">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="tile tile-primary">
                <div class="tile-heading">
                    TOTAL SALES
                </div>
                <div class="tile-body">
                    <i class="fas fa-shopping-cart"></i>
                    <h2 class="float-end">10</h2>
                </div>
                <div class="tile-footer">
                    <a href="" class="text-decoration-none text-white">View more...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Content</h1>