@model Feedback
@{
    ViewData["Title"] = "CreateFeedback";
    Layout = "/Views/Shared/_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Mobile_shop/css/CreateFeedback.css">

<body>
    <div class="container">
        <div class="content">
            <div class="header">
                <h3>Add Feedback</h3>
                <div class="float-end">
                    <a asp-controller="CustomerProfile" asp-action="CustomerProfile" data-bs-toggle="tooltip" title
                        class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                            class="fas fa-reply"></i></a>
                </div>
            </div>
            <form id="form_feedback" asp-action="CreateFeedback" asp-controller="HandleFeedback" method="post">
                <div class="form-group">
                    <input hidden type="text" asp-for="userName">
                    <input hidden type="text" asp-for="proId">

                    <label asp-for="comment">Comment:</label>
                    <div>
                        <textarea asp-for="comment" id="msg" rows="2" cols="4" required class="text_comment"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="title">
                        <label asp-for="rating">Rating:</label>
                    </div>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                    </div>
                    <input type="hidden" asp-for="rating">
                </div>

                <div>
                    <button style="float: right;" class="btn btn-primary" type="submit">Submit
                        Feedback</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    // Get the rating from the feedback object and light up the stars accordingly
    document.addEventListener('DOMContentLoaded', function () {
        var feedbackRating = parseInt('@Model.rating');
        var stars = document.querySelectorAll('.rating input[type="radio"]');
        stars.forEach(function (star, index) {
            if (5 - index === feedbackRating) {
                star.checked = true;
            }
        });
    });
</script>
