@model DiscountPercent
@{
    ViewData["Title"] = "UpdateSaleProduct";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<body>
    <style>
        .page-header {
            margin-top: 20px;
        }

        h1 {
            margin-left: 15px;
        }

        #product_part {
            margin-bottom: 10px;
        }

        .card {
            padding: 10px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        label {
            font-weight: 500;
        }

        .form-group .form-label {
            margin: 0;
        }

        .error {
            color: red;
            font-size: 15px;
            font-style: italic;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h1>Update discounted products</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="SaleProduct" asp-action="ListSaleProduct" data-bs-toggle="tooltip" title
                    class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                        class="fas fa-reply"></i></a>
            </div>
        </div>
        <section id="product_part" class="main">
            <div class="container">
                <div class="card">
                    <form asp-controller="SaleProduct" asp-action="UpdateSaleProduct" method="post"
                        enctype="multipart/form-data">
                        <div hidden>
                            <input type="text" asp-for="discountId" class="form-control">
                        </div>
                        <div hidden>
                            <input type="text" asp-for="proId" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Product Name: </label>
                            <input type="text" class="form-control large-input" value="@Model.product.proName">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Product Picture</label> </br>
                            <img src="~/assets/Product_Images/@Model.product.proImage"
                                style="width: 180px; height: 180px;" />
                        </div>
                        <div class="form-group">
                            <label asp-for="discountPercentage" class="form-label">Discount: </label>
                            <input type="text" asp-for="discountPercentage" class="form-control large-input">
                            <span asp-validation-for="discountPercentage" class="error text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="startDate" class="form-label">Start Date </label>
                            <input type="text" asp-for="startDate" class="form-control large-input">
                            <span asp-validation-for="startDate" class="error text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="endDate" class="form-label">End Date: </label>
                            <input type="text" asp-for="endDate" class="form-control large-input">
                            <span asp-validation-for="endDate" class="error text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="discountImage" class="form-label">Discount Picture:</label> <br>
                            <img src="~/assets/Product_Images/@Model.discountImage" style="width: 200px; height: 200px;"
                                alt="@Model.discountId"><br> <br>
                            <label>New Discount Picture:</label>
                            <input type="file" class="form-control large-input" name="newImageFile">
                            <span asp-validation-for="discountImage" class="error text-danger"></span>
                        </div>
                        <div class="button-container" style="text-align: end;">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>