@model Category
@{
    ViewData["Title"] = "CreateCategory";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="page-header">
    <h2 class="text-center font-weight-bold text-uppercase text-primary mb-4 large-font">Create Category</h2>
    <div class="float-end" style="margin-top: -50px;">
        <a asp-controller="Category" asp-action="GetAllCategory" data-bs-toggle="tooltip" title class="btn btn-success"
            data-bs-original-title="Back" aria-label="Back"><i class="fas fa-reply"></i></a>
    </div>
</div>




<div class="card-body">
    <form asp-controller="Category" asp-action="CreateCategory" method="post" style="margin: 10px;"
        enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label">Enter category name: </label>
            <input type="text" asp-for="cateName" class="form-control large-input">
            <span asp-validation-for="cateName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Enter category description: </label>
            <input type="text" asp-for="cateDescribe" class="form-control large-input">
            <span asp-validation-for="cateDescribe" class="text-danger"></span>
        </div>

        <div class="btn">
            <input type="submit" value="Create" class="btn btn-primary btn-lg">
        </div>


    </form>
</div>