@model Category
@{
    ViewData["Title"] = "CreateCategory";
}
<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Mobile_shop/css/homeAdmin.css">
    <link rel="stylesheet" href="~/Mobile_shop/css/Category.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <script>
        setTimeout(function () {
            var systemNotification = document.getElementById('systemNotification');
            if (systemNotification) {
                systemNotification.style.display = 'none';
            }
        }, 3000);
    </script>
    <div class="container-xxl position-relative bg-white d-flex p-0">

        <!-- Sidebar -->
        <!-- You can add your sidebar here -->

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="page-header">
                @if (TempData["SystemNotificationError"] != null)
                {
                    <div id="systemNotification" class="alert alert-danger m-0 p-2">
                        <p class="text-dark" style="margin-top: 5px; margin-bottom: 5px;">Notification:
                            @TempData["SystemNotificationError"]
                        </p>
                    </div>
                }
                <h1>Category</h1>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-list"></i> 
                    <a asp-controller="Category" asp-action="GetAllCategory" >Category List</a> / Add New Category
                </div>
                <div id="order" class="card-body mb-2 mt-2">
                    <div id="newProfileContainer" class="container bg-white mt-5 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="border-right">
                                <div class="p-3 py-5" style="width: 1000px; text-center;">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Create Category</h4>
                                    </div>
                                    <form asp-controller="Category" asp-action="CreateCategory" method="post">
                                        <div class="col-md-6">
                                            <label class="labels">Category name</label>
                                            <input asp-for="cateName" type="text" class="form-control"
                                                placeholder="cateName">
                                            <span asp-validation-for="cateName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels">Category Describe</label>
                                            <input asp-for="cateDescribe" type="text" class="form-control"
                                                placeholder="cateDescribe">
                                            <span asp-validation-for="cateDescribe" class="text-danger"></span>
                                        </div>

                                        <div class="mt-5 text-center">
                                            <button class="btn btn-primary profile-button" type="submit">
                                                Add new
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @section Scripts {
                        @{
                            <partial name="_ValidationScriptsPartial" />
                        }
                    }

                </div>
            </div>
        </div>
    </div>

</body>

</html>
