@model Category
@{
    ViewData["Title"] = "CreateCategory";
}

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Mobile_shop/css/homeAdmin.css">
    <link rel="stylesheet" href="~/Mobile_shop/css/Category.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <style>
        .card {
            padding: 10px;
        }

        .page-header {
            margin-top: 20px;
        }

        .form-group {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .form-label {
            margin: 0;
        }

        button {
            float: right;
        }
    </style>
    @if (TempData["SystemNotificationError"] != null)
    {
        <div id="systemNotification" class="alert alert-danger m-0 p-2">
            <p class="text-dark" style="margin-top: 5px; margin-bottom: 5px;">Notification:
                @TempData["SystemNotificationError"]
            </p>
        </div>
    }
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="page-header">
                <div class="page-header">
                    <h1>Create Category</h1>
                    <div class="float-end" style="margin-top: -50px;">
                        <a asp-controller="Category" asp-action="GetAllCategory" data-bs-toggle="tooltip" title
                            class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                                class="fas fa-reply"></i></a>
                    </div>
                </div>
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }

            <div class="card">
                <form asp-controller="Category" asp-action="CreateCategory" method="post">
                    <div class="form-group">
                        <label class="labels">Category name</label>
                        <input asp-for="cateName" type="text" class="form-control" placeholder="cateName">
                        <span asp-validation-for="cateName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="labels">Category Describe</label>
                        <input asp-for="cateDescribe" type="text" class="form-control" placeholder="cateDescribe">
                        <span asp-validation-for="cateDescribe" class="text-danger"></span>
                    </div>

                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">
                            Add new
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    @section Scripts {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }

    <script>
        setTimeout(function () {
            var systemNotification = document.getElementById('systemNotification');
            if (systemNotification) {
                systemNotification.style.display = 'none';
            }
        }, 3000);
    </script>
</body>
