@model Category
@{
    ViewData["Title"] = "UpdateCategory";
}

<body>
    <style>
        .page-header {
            margin-top: 20px;
        }

        .form-group {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .form-label {
            margin: 0;
        }

        button {
            float: right;
        }

        .error {
            color: red;
            font-weight: normal;
            font-size: 15px;
            font-style: italic;
            margin-left: 13px;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h1>Update Category</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="Category" asp-action="GetAllCategory" data-bs-toggle="tooltip" title
                    class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                        class="fas fa-reply"></i></a>
            </div>
        </div>
        <div class="card">
            <form asp-controller="Category" asp-action="UpdateCategory" method="post" style="margin: 10px;">
                <div hidden>
                    <input type="text" asp-for="cateId" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label">Enter category name: </label>
                    <input type="text" asp-for="cateName" class="form-control large-input">
                    <span asp-validation-for="cateName" class="error text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Enter category description: </label>
                    <input type="text" asp-for="cateDescribe" class="form-control large-input">
                    <span asp-validation-for="cateDescribe" class="error text-danger"></span>
                </div>

                <div class="button">
                    <button type="submit" class="btn btn-primary" value="UpdateCategory">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>
