@model Product
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "/Views/Shared/_ManagementProduct.cshtml";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <a class="nav-link" style="margin-right: 20px;" asp-controller="Product" asp-action="ListProduct">
                <i class="fa fa-sign-out-alt"></i>
                <span class="d-none d-lg-inline-flex">Back</span>
            </a>
        </div>
    </div>
</nav>
<section id="product_part" class="main">
    <div class="container">
        <h4 class="text-center font-weight-bold text-uppercase text-primary mb-4 large-font custom-heading">THÊM SẢN PHẨM</h4>
        <div class="card-body" style="margin-bottom: 10px;">
            <form asp-controller="Product" asp-action="CreateProduct" method="post" id="productForm"
                style="margin: 10px;" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label">Tên sản phẩm: </label>
                    <input type="text" asp-for="proName" class="form-control large-input">
                    <span asp-validation-for="proName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="form-label">Mô tả sản phẩm: </label>
                    <input type="text" asp-for="proDescription" class="form-control large-input">
                    <span asp-validation-for="proDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Giá sản phẩm: </label>
                    <input type="text" asp-for="proPrice" class="form-control large-input">
                    <span asp-validation-for="proPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="proQuantity" class="form-label">Số lượng sản phẩm: </label>
                    <input type="text" asp-for="proQuantity" class="form-control large-input">
                    <span asp-validation-for="proQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="productInfo" class="form-label">Thông Tin Sản Phẩm: </label>
                    <textarea name="productInfo" class="form-control large-input" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-label">Đặc Điểm Nổi Bật: </label>
                    <textarea name="highlightFeatures" class="form-control large-input" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-label">Thông Số Kỹ Thuật: </label>
                    <textarea name="technicalSpecs" class="form-control large-input" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="proImage" class="form-label">Ảnh sản phẩm: </label>
                    <div class="custom-file">
                        <input type="file" name="proImageFile" class="form-control large-input">
                    </div>
                    <span asp-validation-for="proImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="cateId" class="form-label">Phân loại sản phẩm:</label>
                    <select asp-for="cateId" asp-items="@(new SelectList(ViewBag.cateList, "cateId", "cateName"))"
                        class="form-control large-input">
                    </select>
                    <span asp-validation-for="cateId" class="text-danger"></span>
                </div>

                <div class="button-container" style="text-align: center;">
                    <button type="submit" style="font-size: 18px; padding: 10px 20px;"
                        class="fancy-button">Create</button>
                </div>

            </form>
        </div>
    </div>
</section>
