@model ProductImage
@{
    ViewData["Title"] = "DeleteImage";
}

<body>
    <style>
        h1 {
            margin-left: 20px;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h1>Are you sure you want to delete this photo?</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="Product" asp-action="ManagementProductDetail" asp-route-id="@Model.proId"
                    data-bs-toggle="tooltip" title class="btn btn-success" data-bs-original-title="Back"
                    aria-label="Back"><i class="fas fa-reply"></i></a>
            </div>
        </div>
        <section id="product_part" class="main">
            <div class="container">
                <div class="card-body" style="margin-bottom: 10px;">
                    <form asp-controller="Product" asp-action="DeleteImageProductDetail"
                        asp-route-imageId="@Model.imageId" method="post" style="margin: 10px;">
                        <div hidden>
                            <input type="text" asp-for="imageId" class="form-control">
                        </div>
                        <div>
                            <label class="form-label">Product Photo: </label>
                            <input type="text" asp-for="imageUrl" class="form-control large-input" disabled> <br>
                        </div>
                        <div class="text-center">
                            <img src="~/assets/Product_Images/@Model.imageUrl" asp-for="ImageFile"
                                style="width: 400px; height: 400px;">
                        </div> <br>
                        <div class="button text-end">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>