@model Product
@{
    ViewData["Title"] = "ManagementQuestionAndAnswer";
}

<body>
    <div class="container">
        <div class="page-header">
            <div class="float-end" style="margin-top: -30px;">
                <a asp-controller="Product" asp-action="ListProduct" data-bs-toggle="tooltip" title
                    class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                        class="fas fa-reply"></i></a>
            </div>
        </div>
        <div>
            <h3 style="margin-top:40px; text-align: center;"><strong>LIST QUESTION AND ANSWER</strong></h3>
            <div style="text-align: center;">
                <a asp-controller="Product" asp-action="CreateQuestionAndAnswer" asp-route-id="@Model.proId"
                    class="fancy-button" style="text-decoration: none;">Add new question and answer</a>
            </div> </br>
        </div>
        <div id="qa-section">
            @{
                if (ViewBag.QuestionAndAnswer != null)
                {
                    var qas = ViewBag.QuestionAndAnswer.ToString().Split(new string[] { "\r\n\r\n", "\n\n" },
                    StringSplitOptions.RemoveEmptyEntries);
                    int qNum = 1;
                    foreach (var qa in qas)
                    {
                        var parts = qa.Split(new string[] { "\r\n", "\n" }, StringSplitOptions.RemoveEmptyEntries);
                        if (parts.Length >= 2)
                        {
                            <div class="question" onclick="toggleAnswer('answer@(qNum)')">@(parts[0].Replace("Q: ", ""))</div>
                            <div class="answer" id="answer@(qNum)" style="display:none;">@(parts[1].Replace("A: ", ""))</div>
                        }
                        qNum++;
                    }
                }
            }
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <a asp-controller="Product" asp-action="UpdateQuestionAndAnswer" asp-route-id="@Model.proId"
                class="fancy-button" style="text-decoration: none;">Edit</a>
        </div>
    </div>
</body>