@model Product
@{
    ViewData["Title"] = "UpdateProductInfomationDetail";
}

<body>
    <style>
        h1 {
            margin-left: 15px;
        }

        .form-label {
            margin: 0;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h1>Update product information</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="Product" asp-action="ManagementProductDetail" asp-route-id="@Model.proId"
                    data-bs-toggle="tooltip" title class="btn btn-success" data-bs-original-title="Back"
                    aria-label="Back"><i class="fas fa-reply"></i></a>
            </div>
        </div>
        <section id="product_part" class="main">
            <div class="container">
                <div class="card-body">
                    <form asp-controller="Product" asp-action="UpdateProductInfomationDetail" method="post"
                        style="margin: 10px;" enctype="multipart/form-data">
                        <div hidden>
                            <input type="text" asp-for="proId" class="form-control">
                        </div>
                        <div hidden>
                            <input type="text" asp-for="proName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" style="font-weight: 500;">Information Product </label>
                            <textarea name="productInfo" class="form-control large-input"
                                rows="10">@ViewBag.ProductInfo</textarea>
                        </div> <br>
                        <div class="button" style="text-align: end;">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</body>