@{
    ViewData["Title"] = "CreateTechNew";
}

<body>
    <style>
        .page-header {
            margin-top: 20px;
        }

        h1 {
            margin-left: 15px;
        }

        #product_part {
            margin-bottom: 10px;
        }

        .card {
            padding: 10px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        label {
            font-weight: 500;
        }

        .form-group .form-label {
            margin: 0;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h1>New tech news</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="TechNew" asp-action="ListTechNew" data-bs-toggle="tooltip" title
                    class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                        class="fas fa-reply"></i></a>
            </div>
        </div>
        <section id="product_part" class="main">
            <div class="container">
                <div class="card">
                    <form asp-controller="TechNew" asp-action="CreateTechNew" method="post" id="productForm"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title" class="form-label">Technology News Headlines: </label>
                            <input type="text" class="form-control" id="title" name="title"
                                class="form-control large-input" required>
                        </div>

                        <div class="form-group">
                            <label for="image" class="form-label">Technology News Pictures: </label>
                            <input type="file" class="form-control" id="image" name="image"
                                class="form-control large-input" required>
                        </div>
                        <div class="form-group">
                            <label for="link" class="form-label">Technology News Link: </label>
                            <input type="url" class="form-control" id="link" name="link"
                                class="form-control large-input" required>
                        </div>

                        <div class="button-container" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</body>