@model (string Title, string ImageUrl, string NewsId, string Link)
@{
    ViewData["Title"] = "DeleteTechNew";
}

<link rel="stylesheet" href="~/Mobile_shop/css/UpdateTechNews.css">

<body>
    <div class="container container_box">
        <div class="page-header">
            <h1 style="margin-left: 10px;">Detele Tech news</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="TechNew" asp-action="ListTechNew" data-bs-toggle="tooltip" title
                    class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                        class="fas fa-reply"></i></a>
            </div>
        </div>
        <section id="product_part" class="main">
            <div class="container">
                <div class="card">
                    <form asp-controller="TechNew" asp-action="Delete" method="post" style="margin: 10px;"
                        enctype="multipart/form-data">
                        <input type="hidden" name="NewsId" value="@ViewBag.NewsId" />
                        <div class="form-group">
                            <label class="form-label">Technology News Headlines: </label>
                            <input name="title" class="form-control large-input" value="@ViewBag.TitleTechNew"
                                readonly></input>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Technology News Picture: </label> <br>
                            <img src="@Url.Content($"~/assets/TechNews/{@ViewBag.NewsId}/image.jpg")" alt="News Image"
                                readonly>
                            <br> <br>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Technology News Link: </label>
                            <input name="link" class="form-control large-input" value="@ViewBag.LinkTechNew"
                                readonly></input>
                        </div>
                        <div class="button-container" style="text-align: center;">
                            <button type="submit" class="btn">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>