@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_HomePage.cshtml";
}
  <!-- Discount part Start -->
    <section id="discount_part">
        <div class="container discount">
            <div class="row">
                <div class="name_box" style="margin-top: 100px">
                    <h2><strong class="name_box_title">KHUYẾN MÃI CHỈ CÓ TRÊN ONLINE</strong></h2>
                </div>
                <div class="discount_payonl">
                    <div class="home_slider">
                        <a href=""><img src="https://cdn.tgdd.vn/2023/09/banner/1200x150-tgdd-1200x150-1.png"
                                alt="discount"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount part End -->

    <h1>Context</h1>